<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="app.js"></script> -->

    <title>Patient Registration | Healthcare</title>

    <script>
        function validationform() {
            let name = document.forms['patientForm']['name'].value;
            let age = document.forms['patientForm']['age'].value;
            let phone = document.forms['patientForm']['phone'].value;

            if (name == "") {
                alert("Patient name is required")
                return false
            }

            if (age < 0 || age > 120) {
                alert("Enter a valid age")
            }

            if (phone.length != 10 || isNaN(phone)) {
                alert("Enter a valid 10-digit phone number");
                return false;
            }

            //add data to the table
            let table = document.getElementById("patientTable");
            let row = table.insertRow(-1);

            row.insertCell(0).innerHTML = name;
            row.insertCell(1).innerHTML = age;
            row.insertCell(2).innerHTML = phone;

            //clear form
            document.getElementById("patientTable").reset();

            return false;
        }
    </script>

</head>

<body>
    <h1>Patient Registration Form</h1>
    <form name="patientForm" onsubmit="return validationform()">
        <label>Name</label>
        <input type="text" name="name"><br><br>

        <label>Age</label>
        <input type="number" name="age"><br><br>

        <label>Phone</label>
        <input type="text" name="phone"><br><br>

        <input type="submit" value="Register">
    </form>

    <h3>Registred Patient</h3>
    <table id="patientTable" border="1" cellspacing="5">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
        </tr>
    </table>
</body>

</html>