{%extends 'base.html'%}

{%block title%}Explore Page{%endblock%}

{%block body%}

<h2 class="text-center mb-4">
    Trending Playlists
</h2>

<div class="row">

    <!-- Card 1 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/morning_playlist.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Morning Playlist
                </h5>

            </div>

        </div>
    </div>


    <!-- Card 2 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/phonk_music.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Phonk Playlist
                </h5>

            </div>

        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/soft_paylist.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Soft Playlist
                </h5>

            </div>

        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/soft_paylist.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Classical Playlist
                </h5>

            </div>

        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/soft_paylist.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Bollywood Playlist
                </h5>

            </div>

        </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-4 mb-4">
        <div class="card">

            <img src="static/image/soft_paylist.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">
                    Hollywood Playlist
                </h5>

            </div>

        </div>
    </div>
{%endblock%}